.ramzan:hover{
	background-image: url(../images/milad.jpg);
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
	visibility: visible;
}

.labor:hover{
	background-image: url(../images/labor.jpg);
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
	visibility: visible;
}